# Node
node_modules/
dist/
.env

# Vue/Vite
*.local
.vscode/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# OS
.DS_Store
Thumbs.db

# Archivos Pesados
*.zip
Documentos ejemplo/
